---
import { Accordion, AccordionItem } from "free-astro-components";
import Footer from "../../components/Footer.astro";
import Navbar from "../../components/Navbar.astro";
import Layout from "../../layouts/Layout.astro";

import "../../global.css";
---

<Layout>
  <Navbar />

  <section class="external-container">
    <div class="container">
  <h1 class="title">Everfaz Privacy Policy</h1>

      <p class="content">
        At Everfaz, we recognize that the trust of our employees, contractors,
        clients, and our community of developers is what allows us to seek
        progress, delivering impact. Protecting the privacy of all information
        we collect and use is an important part of maintaining this trust.
        <br />
        <br />
        Our Privacy Policy is designed to help you make an informed decision about
        sharing information with us. The information below explains in further detail
        how Everfaz processes information about you (“personal information”), whether
        you are one of our employees or contractors, clients, developers, a visitor
        to our website, or anyone interested in what we do.
        <br />
        <br />
        It applies to all personal information collected through our website, platform,
        and during the course of our interactions with you, whether as an employee
        or contractor, client, or as part of our community of developers.
        <br />
        <br />
        Everfaz is a leading provider of global, on-demand, scalable, and long-term
        software solutions for organizations in need of software engineers and developers.
      </p>

      <h1 class="title">Who We Are</h1>

      <p class="content">
        Everfaz refers to Everfaz LLC. This policy is issued on behalf of
        Everfaz LLC as a whole. When we mention ‘Everfaz’, ‘we’, ‘us’ or ‘our’,
        we are referring to the relevant Everfaz entity responsible for
        collecting or handling your personal information
      </p>
      <br />
      <br />
      <Accordion variant="splitted">
        <AccordionItem
          name="privacy-accordion"
          title="Definitions"
          class="accordion_title"
        >
          <p class="content">For the purposes of this policy:</p>
          <ul>
            <li class="content">
              <strong>Client</strong> is any potential or existing customer of Everfaz
              who may have registered on their own behalf or on behalf of their organization
              to Everfaz applications sites.
            </li>
            <li class="content">
              <strong>Developer</strong> is any individual who applies to, or works
              with Everfaz as a contractor or developer, or who has participated
              in our recruitment initiatives or other similar activities.
            </li>
            <li class="content">
              <strong>Personnel</strong> is any individual who works for Everfaz
              in their capacity as an employee or contractor.
            </li>
            <li class="content">
              <strong>Visitor</strong> is any individual who works for Everfaz in
              their capacity as an employee or contractor.
            </li>
          </ul>
        </AccordionItem>
        <AccordionItem
          name="privacy-accordion"
          title="How We Collect Your Personal Information"
          class="accordion_title"
        >
          <h2 class="subtitle">Collecting Information From You</h2>
          <p class="content">
            We typically collect your personal information directly from you.
            This can happen in different ways, including when you:
          </p>
          <ul>
            <li class="content">Visit our website</li>
            <li class="content">Subscribe to our newsletters, download content, or sign up for an event.</li>
            <li class="content">Set up an account with us.</li>
            <li class="content">Submit an application to join Everfaz or our communities.</li>
            <li class="content">Enquire about hiring Everfaz developers or any of our products, services, or solutions on your own behalf or on behalf of a client.</li>
            <li class="content">Engage Everfaz to provide products, services, or solutions, whether on your own behalf or on behalf of a client.</li>
            <li class="content">Engage with us via social media.</li>
            <li class="content">Contact our dedicated support team.</li>
            <li class="content">Contact us via phone or email.</li>
          </ul>

          <h2 class="subtitle">Collecting Information From You</h2>
          <p class="content">
            We will only ask for or collect personal information that is
            reasonably necessary for one or more of our functions or activities.
          </p>
          <p class="content">
            We may collect information about you indirectly from third parties,
            such as through recruitment agencies, social media searches (such as
            LinkedIn), research companies, client conversations, or referrals
            from other third parties.
          </p>
          <p class="content">
            We may supplement information we collect directly from you with
            additional information about you and/or the company you work for
            from other sources. This may happen, for example, when you choose to
            interact with us via our social media channels (e.g., via LinkedIn).
          </p>
          <p class="content">
            We may also collect information about you or the company you work
            for from publicly available sources, including websites, social
            media, and public databases.
          </p>
        </AccordionItem>
        <AccordionItem
          name="privacy-accordion"
          title="What Personal Information We Collect"
          class="accordion_title"
        >
          <h2 class="subtitle">Developers</h2>
          <p class="content">
            We collect additional information about developers to help ensure
            they are the right fit for the Everfaz community. This might
            include:
          </p>
          <ul>
            <li class="content">
              Details of your qualifications and professional experiences.
            </li>
            <li class="content">Information from referees.</li>
            <li class="content">Social media profile information.</li>

            <li class="content">
              Photographs and video recordings that may identify you.
            </li>
            <li class="content">Banking and payment information.</li>
            <li class="content">
              Other information that you include in your account or otherwise
              provide to us.
            </li>
          </ul>
          <p class="content">
            From time to time, we may also collect sensitive information from
            you. This could include information about your health (such as proof
            of your vaccination status or accessibility needs). We will only ask
            for this information if it is needed and will only process it with
            your permission.
          </p>
          <h2 class="subtitle">Visitors</h2>
          <p class="content">
            When you visit our site, including viewing job postings or
            interacting with us online, whether by social media sites or
            advertising, we and our third-party partners may automatically
            collect or receive certain information about you and the device(s)
            you use.
          </p>
          <p class="content">
            This might include numbers of visitors and visits to our website, IP
            address and device identifiers, geo-location data, length of time
            spent on the site, pages clicked on, or where visitors have come
            from.
          </p>
          <p class="content">
            We and our third-party partners use cookies and other tracking
            technologies to collect some of this information. For further
            information about this, please see our policy on

            <a href="https://www.everfaz.com/privacy-policy#cookies"
              >Advertising, Cookies, and Online Tracking.
            </a>
          </p>

          <h2 class="subtitle">Clients</h2>
          <p class="content">
            When you are enquiring about or using our services as a client, we
            collect and use information to understand your requirements, agree
            on role specifications, propose applicants, discuss our contract,
            provide our services, or share Everfaz content which is likely to be
            relevant and useful to you.
          </p>
          <p class="content">
            You may provide personal information to us by registering on our
            Everfaz hiring site or by email, telephone, during meetings (whether
            face-to-face or through video conference), or otherwise through our
            website.
          </p>

          <h2 class="subtitle">Personnel</h2>

          <p class="content">
            We collect information from you or in the course of your employment
            or contract arrangement (as applicable) with us. We may collect this
            data when you submit it to us, including via your account with us or
            through responses to job postings and employment applications,
            resumes, required and voluntary employment forms, and other
            submissions.
          </p>
          <p class="content">
            In some circumstances, the personal information we collect about you
            is held by a third party, for example, when we perform background
            checks that are necessary for the role to be performed by you. We
            may also generate information during your employment or contract
            arrangement with us.
          </p>
          <p class="content">
            If you are an employee located in the European Union (EU), the
            Everfaz entity that employs you is the controller of your employee
            data. As a data controller, that Everfaz entity is responsible for
            ensuring that the processing of your employee data complies with
            applicable EU data protection law, including but not limited to the
            EU General Data Protection Regulation (GDPR).
          </p>
        </AccordionItem>
        <AccordionItem
          name="privacy-accordion"
          title="How We Use Your Personal Information"
          class="accordion_title"
        >
          <p class="content">
            Having your information allows us to provide our products, services,
            and solutions and continue supporting our clients and developers.
            This information also helps us to provide you with a better user
            experience when you visit our website, interact with us, and use our
            services.
            <br />
            <br />
            We use your personal information to:
          </p>
          <ul>
            <li class="content">
              Communicate with you, respond to your requests, and process
              transactions.
            </li>
            <li class="content">
              Improve our services and your user experience (which includes
              research and development, the development of machine
              learning-based programs to improve the client and developer
              experience, and the tailoring of our website to identify and
              provide content that may be of interest to you).
            </li>
            <li class="content">
              Ensure the successful operation of our business, for example, by
              carrying out credit checks and pursuing accounts receivable.
            </li>
            <li class="content">
              Comply with our legal obligations, policies, and procedures.
            </li>
          </ul>

          <p class="content">
            Everfaz will not use personal information for any purpose not
            covered in this policy without your consent.
          </p>
          <p class="content">
            Further information about the specific purposes for which we use the
            personal information we collect and the legal basis of our
            processing for those purposes can be found below.
          </p>
          <p class="content">
            We will not sell, rent, or loan any identifiable personal
            information to any third party without your consent unless we are
            legally required to do so.
          </p>
        </AccordionItem>

        <AccordionItem
          name="privacy-accordion"
          title="What Is Our 'Legitimate Interest'?"
          class="accordion_title"
        >
          <p class="content">
            In certain circumstances (as outlined above), we may use your
            personal information to pursue legitimate interests of our own,
            provided that your interests and fundamental rights do not override
            those interests. By “legitimate interests”, we mean our interests in
            conducting and managing our business activities and ensuring that we
            are guaranteeing the best service and experience for you.
            <br />
            <br />
            Where we use your information for our legitimate interests, we make sure
            that we take into account any potential impact that this use may have
            on you. We won’t use your information if we believe your interests override
            ours unless we have other lawful grounds to do so (such as with your
            consent, or if we have a legal obligation). If you have any questions
            or concerns about our processing of your personal information, please
            refer to the “Your Individual Rights” section below.
          </p>
        </AccordionItem>
        <AccordionItem
          name="privacy-accordion"
          title="Marketing"
          class="accordion_title"
        >
          <p class="content">
            Our website gives you the opportunity to opt-in to marketing
            communications from Everfaz. We will only send you marketing
            communications if you exercise that option.
          </p>
          <p class="content">
            If you no longer wish to receive marketing communications from
            Everfaz, you may unsubscribe at any time. All our marketing
            communications contain an opt-out function.
          </p>
          <p class="content">
            Further information on how to remove your information from our
            database, to opt-out of future communications, or to no longer
            receive any communications about Everfaz’s services is included in
            the Opt-Out of Marketing section below.
          </p>
        </AccordionItem>

        <AccordionItem
          name="privacy-accordion"
          title="Advertising, Cookies, and Online Tracking"
          class="accordion_title"
        >
          <p class="content">
            We use a range of different products and services to help us ensure
            you have the best experience possible, including cookies.
          </p>

          <h2 class="subtitle">Cookies</h2>
          <p class="content">
            Cookies are small pieces of information sent by a website to a
            visitor’s hard disk. Cookies cannot be used to run programs or
            deliver viruses to your computer. By continuing to visit the
            website, you agree to the placement of cookies on your device. If
            you choose not to accept our cookies, we cannot guarantee that your
            experience will be as fulfilling as it would otherwise be. We may
            also place cookies from third parties for functional and marketing
            purposes. The use of cookies is widespread and benefits the user.
          </p>
          <h2 class="subtitle">Types of Cookies We Use</h2>
          <p class="content">
            <strong>Analytics and performance cookies:</strong> These cookies are
            used to collect information about traffic to Everfaz and how users use
            Everfaz. The information gathered does not identify any individual visitor.
            The information is aggregated and therefore anonymous. It includes the
            number of visitors to Everfaz, the websites that referred them to Everfaz,
            the pages that they visited on Everfaz, what time of day they visited
            Everfaz, whether they have visited Everfaz before, and other similar
            information. We use this information to help operate Everfaz more efficiently,
            to gather broad demographic information, and to monitor the level of
            activity on Everfaz. We use Google Analytics for this purpose. Google
            Analytics uses its own cookies. It is only used to improve how Everfaz
            works.
          </p>
          <p class="content">
            <strong>Essential cookies: </strong> These cookies are essential to provide
            you with services available through Everfaz and to enable you to use
            some of its features. For example, they allow you to log in to secure
            areas of Everfaz and help the content of the pages you request load quickly.
            Without these cookies, the services that you have asked for cannot be
            provided, and we only use these cookies to provide you with those services.
          </p>
          <p class="content">
            <strong>Social media cookies: </strong>These cookies are used when
            you share information using a social media sharing button or “like”
            button on Everfaz or you link your account or engage with our
            content on or through a social networking website such as Facebook,
            Twitter, or Google+. The social network will record that you have
            done this.
          </p>
          <p class="content">
            <strong>Targeted and advertising cookies: </strong>These cookies
            track your browsing habits to enable us to show advertising which is
            more likely to be of interest to you. These cookies use information
            about your browsing history to group you with other users who have
            similar interests. Based on that information, and with our
            permission, third-party advertisers can place cookies to enable them
            to show adverts which we think will be relevant to your interests
            while you are on third-party websites. These cookies may also store
            your location, including your latitude, longitude, and GeoIP region
            ID, which helps us show you locale-specific news and allows Everfaz
            to operate more efficiently.
          </p>
          <p class="content">
            You can disable cookies that remember your browsing habits and
            target advertising at you by visiting
            <a
              href="http://www.youronlinechoices.com/uk/your-ad-choices"
              target="_blank"
            >
              Your Online Choices.
            </a>
            If you choose to remove targeted or advertising cookies, you will still
            see adverts but they may not be relevant to you. Even if you do choose
            to remove cookies by the companies listed at the above link, not all
            companies that serve online behavioral advertising are included in this
            list, and so you may still receive some cookies and tailored adverts
            from companies that are not listed.
          </p>

          <h2 class="subtitle">Types of Cookies We Use</h2>
          <p class="content">
            Most web browsers allow some control of most cookies through the
            browser settings. To find out more about cookies, including how to
            see what cookies have been set, visit About
            <a href="http://www.aboutcookies.org/"> Cookies </a>
            or
            <a href="http://www.allaboutcookies.org/"> All About Cookies. </a>
          </p>
          <ul>
            <li class="content">
              <a
                href="https://support.google.com/accounts/answer/61416?co=GENIE.Platform%3DDesktop&hl=en"
                >Google Chrome
              </a>
            </li>
            <li class="content">
              <a
                href="https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy"
                >Microsoft Edge</a
              >
            </li>
            <li class="content">
              <a
                href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences"
                >Mozilla Firefox</a
              >
            </li>
            <li class="content">
              <a
                href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies"
                >Microsoft Internet Explorer</a
              >
            </li>
          </ul>
          <p class="content">
            To find information relating to other browsers, visit the browser
            developer's website.
          </p>

          <p class="content">
            To opt-out of being tracked by Google Analytics across all websites,
            visit

            <a href="http://tools.google.com/dlpage/gaoptout">
              Google Analytics Opt-Out.
            </a>
          </p>
        </AccordionItem>

        <AccordionItem
          name="privacy-accordion"
          title="Who We Share Your Information With and Why"
          class="accordion_title"
        >
          <p class="content">
            In order to provide you with our products, services, and solutions,
            to operate our business, or to otherwise engage with you, we may
            need to share your personal information with others. This may
            involve sharing information with our related entities or with our
            service providers when this is necessary to provide our services.
          </p>
          <p class="content">
            We share personal information with the following third-party service
            providers:
          </p>
          <ul>
            <li class="content">
              Our technology partners (such as our data storage and hosting
              providers, internet service suppliers, and application providers)
              who help us to process and store your information and continue to
              run our business efficiently.
            </li>
            <li class="content">
              Our recruitment support agencies (including background checking,
              screening, and testing agencies).
            </li>
            <li class="content">
              Our professional services providers, where necessary for our
              legitimate business needs (for example, our accountants and
              lawyers), or as required or permitted by law.
            </li>
            <li class="content">
              Our advertising and marketing partners with whom we may share
              technical identifiers from your interactions with our website. Our
              sharing of data for these purposes is covered in more detail in
              our Cookie Notice.
            </li>
          </ul>
          <p class="content">
            We take reasonable steps to make sure that our terms of service with
            these providers obligate them to protect the privacy of your
            personal information and that any sharing of your personal
            information will not breach these obligations.
          </p>
          <p class="content">
            We may need to disclose information about you when such disclosure
            is necessary to prevent fraud or to comply with any law or order of
            any court of competent jurisdiction, depending on your
            country-specific law. We may also need to share information with
            other third parties where required and relevant in a common business
            context, for example, with your bank when we make payments,
            insurance companies, or other companies in the context of services
            and benefits that we provide you.
          </p>
          <p class="content">
            As we continue to develop our business, we might sell or buy
            companies, subsidiaries, or business units. In such transactions,
            data generally is one of the transferred business assets. Also, if
            we or all of our assets are acquired, your information may be one of
            the transferred assets.
          </p>
        </AccordionItem>

        <AccordionItem
          name="privacy-accordion"
          title="How We Transfer Personal Information We Collect Internationally"
          class="accordion_title"
        >
          <p class="content">
            As part of Everfaz’s global operations, we may need to transfer,
            process, and store your information with affiliates and third-party
            service providers in countries outside of your country of residence
            to continue to provide you with our services. For example, our data
            hosting provider, Cloudflare, is located in the United States.
          </p>
          <p class="content">
            We will only ever transfer, process, and store your information
            outside of your country of residence to trusted third-party service
            providers, with whom we have appropriate arrangements in place to
            ensure processing in compliance with applicable data protection law.
          </p>

          <p class="content">
            In dealing with transfers from the EEA, the UK, or other countries
            with restrictions on cross-border transfers of personal information,
            we will rely on European Commission adequacy decisions wherever
            relevant (for example, with transfers to New Zealand or Canada) or
            on the EU Commission-approved Standard Contractual Clauses (SCCs) or
            on other approved contractual clauses or mechanisms for transfers or
            the need to process your personal information in order to provide
            the requested services to safeguard the transfer of your personal
            information.
          </p>

          <p class="content">
            We will not disclose or share your personal information other than
            as described in this policy or with your consent.
          </p>
        </AccordionItem>

        <AccordionItem
          name="privacy-accordion"
          title="Third-Party Sites"
          class="accordion_title"
        >
          <p class="content">
            Our website contains links to other websites. We encourage you to be
            aware when you leave our site and to read the privacy policies of
            each and every website that collects personal information. Everfaz
            is not responsible for the privacy practices or the content of those
            other sites.
          </p>
        </AccordionItem>
        <AccordionItem
          name="privacy-accordion"
          title="Your Individual Rights"
          class="accordion_title"
        >
          <p class="content">
            We want to assure you that you have control of the information you
            choose to provide to us. Subject to certain exemptions and depending
            on the applicable data protection laws in the country you live in
            (including in some cases, upon our legal basis for processing your
            information), there are a number of rights you have over your
            personal information. Below is a summary of these rights and how you
            can exercise them:
          </p>
          <ul>
            <li class="content">
              If any of the personal information that we hold about you is
              inaccurate, out of date, or incomplete, you can contact us and ask
              us to correct it.
            </li>
            <li class="content">
              You have the right to request access to the information that we
              hold about you.
            </li>
            <li class="content">
              You may have the right to receive a copy of any information we
              hold about you (or request that we transfer this to another
              service provider) in a structured, commonly used, machine-readable
              format, where you have either consented to the processing of this
              information, or where this processing is conducted on the basis of
              a contract.
            </li>
            <li class="content">
              You have the right to request we correct any personal information
              we hold about you if you think it is incorrect or incomplete.
            </li>
            <li class="content">
              In certain circumstances, you have the right to ask us to limit or
              cease processing or erase information we hold about you.
            </li>
            <li class="content">
              You may have the right to object to our processing of your
              personal information when such processing is based on our
              legitimate interests. Before using your personal information for
              our legitimate interests, we balance these interests against your
              rights and freedoms; however, if you consider that you have
              grounds to object to this, you can explain to us your particular
              situation and we will individually review your request.
            </li>

            <li class="content">
              Where we process your personal information based on your consent
              (for example, where we have obtained your consent to process
              information relating to your health), you can withdraw your
              consent at any time by contacting us. This does not affect the
              legality of any processing carried out before you withdrew your
              consent.
            </li>

            <li class="content">
              You may have the right to object to automated decision-making,
              including profiling, which produces a legal effect or similarly
              significant effects.
            </li>

            <li class="content">
              If you have unresolved concerns, you also have the right to
              complain about us to the relevant data protection authority in the
              country where you live, work, or feel your rights were infringed.
            </li>
            <p class="content">
              Please note that, notwithstanding the rights listed above, we
              reserve the right to retain certain information for our
              record-keeping purposes, and to defend ourselves against any legal
              claims.
            </p>
          </ul>
        </AccordionItem>
        <AccordionItem
          name="privacy-accordion"
          title="Data Retention"
          class="accordion_title"
        >
          <p class="content">
            Where we collect your personal information, the length of time for
            which we retain it depends on the type of data, the purpose for
            which we use that data, and our accounting, regulatory, and legal
            data retention obligations. We do not retain personal information in
            an identifiable format for longer than:
          </p>
          <ul>
            <li class="content">
              The period necessary for the relevant activity or services.
            </li>
            <li class="content">
              Any retention period that is required by law or contract; or
            </li>
            <li class="content">
              The period in which litigation or investigations might arise in
              respect of the relevant activity or services, after which it is
              likely your personal information will no longer be relevant for
              the purposes for which it was collected and we will delete or
              destroy it.
            </li>
          </ul>
          <p class="content">
            In some circumstances, we may anonymize your personal information
            (so that it can no longer be associated with you) for research or
            statistical purposes, in which case we may use this information
            indefinitely without further notice to you.
          </p>
        </AccordionItem>
        <AccordionItem
          name="privacy-accordion"
          title="Changes to This Policy"
          class="accordion_title"
        >
          <p class="content">This policy was posted Jan. 10, 2025.</p>
          <ul>
            <li class="content">
              If we decide to change our privacy policy, we will post those
              changes on our website so you are always aware of what information
              we collect, how we use it, and under what circumstances, if any,
              we disclose it.
            </li>
            <li class="content">
              If you have questions or concerns regarding this policy, please
              contact our Privacy Officer.
            </li>
          </ul>
        </AccordionItem>
        <AccordionItem
          name="privacy-accordion"
          title="How to Contact Us"
          class="accordion_title"
        >
          <p class="content">
            If you have any questions or concerns about the way that we collect
            or use your personal information, you can contact our Privacy
            Officer at any time by using the following contact details:
          </p>

          <p class="content">Email: contact@everfaz.com</p>
          <p class="content">
            Address: 30 N Gould St Ste N, Sheridan, WY 82801 USA
          </p>
          <p class="content">Attn: Privacy Officer</p>
        </AccordionItem>
      </Accordion>
    </div>
  </section>

  <Footer />
</Layout>

<style>
  .external-container { padding: 0px 1rem 42px; background: var(--bg); }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .title {
    color: var(--text);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .subtitle {
    color: var(--text);
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .content {
    color: var(--muted);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  @media (min-width: 1024px) {
    .external-container {
      padding: 95px 1rem 52px;
    }

    .title {
      font-size: 3rem;
    }

    .subtitle {
      font-size: 2rem;
    }

    .content {
      font-size: 1.5rem;
    }
  }
</style>
