<footer>
  <div class="footer-logo">
    <svg
      width="83"
      height="42"
      viewBox="0 0 83 42"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M66.4742 27.415L58.6327 41.5942H1L3.14142 37.5837H22.6432L28.2629 27.415H66.4742Z"
        fill="#231F20"
        stroke="#231F20"
        stroke-width="0.5"
        stroke-miterlimit="10"></path>
      <path
        d="M80.9815 1C79.0566 4.49064 75.0833 11.6638 73.1461 15.1792C70.6457 15.1668 54.8326 15.1916 52.7902 15.2225L51.2244 18.1623H54.5665C53.5453 19.9757 51.3234 24.0419 50.3331 25.8182H14.9254L16.4913 22.8784H30.5776L34.8357 15.1792H15.5258L17.6672 11.1687H37.169L42.7887 1.00619H81L80.9815 1Z"
        fill="#231F20"
        stroke="#231F20"
        stroke-width="0.5"
        stroke-miterlimit="10"></path>
    </svg>
  </div>
  <div class="link-container footer-logo">
    <div>
      <p class="slogan link-container-first">
        SEEKING PROGRESS, DELIVERING IMPACT
      </p>
      <div>
        <p><strong>Everfaz LLC</strong></p>
        <p class="option-list">
          <strong>Address:</strong> 30 N Gould St Ste N, Sheridan, WY 82801 USA
        </p>
        <p class="option-list">
          <strong>Telephone:</strong>
          <a class="option-list" href="tel:+13073819804">+1 (307) 381 9804</a>
        </p>
      </div>
    </div>

    <div class="link-options">
      <div class="link-options-internal">
        <span class="option-main">Hire Everfaz</span>
        <a href="#our-services" class="option-list">For Companies</a>

        <a
          href="https://cal.com/everfaz/20min"
          target="_blank"
          class="option-list">Schedule a Call</a
        >
      </div>
      <div class="link-options-internal">
        <span class="option-main">Connect</span>

        <a href="https://www.linkedin.com/company/everfaz" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M19 0H5C2.25 0 0 2.25 0 5V19C0 21.75 2.25 24 5 24H19C21.75 24 24 21.75 24 19V5C24 2.25 21.75 0 19 0ZM7.12 20.35H3.83V8.93H7.12V20.35ZM5.475 7.48C4.26 7.48 3.3 6.51 3.3 5.29C3.3 4.07 4.26 3.1 5.475 3.1C6.69 3.1 7.65 4.07 7.65 5.29C7.65 6.51 6.69 7.48 5.475 7.48ZM20.36 20.35H17.07V15.12C17.07 13.92 17.05 12.33 15.32 12.33C13.56 12.33 13.3 13.63 13.3 15.03V20.35H10.01V8.93H13.16V10.25H13.21C13.64 9.42 14.7 8.56 16.28 8.56C19.67 8.56 20.36 10.92 20.36 13.65V20.35Z"
              fill="#0077B5"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="footer-logo">
      <p class="copyright-font">2025 © All rights reserved. Everfaz LLC</p>
      <a href="/privacy-policy" class="copyright-font">Privacy Policy</a>
    </div>
  </div>
</footer>

<style>
  footer {
    padding: 42px 1rem 14px;
  }
  .footer-logo {
    max-width: 1200px;
    margin: 0 auto;
  }

  .slogan {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    background: linear-gradient(to right, black, #791ddb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }
  .link-container {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: start;
    flex-direction: column;
  }

  .link-options {
    display: flex;
    gap: 20px;
    margin-bottom: 14px;
  }

  .link-options-internal {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .option-main {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
  }

  .option-list {
    font-size: 0.875rem;
    font-weight: 400;
    color: #717171;
    text-decoration: none;
  }

  .copyright {
    border-top: 1px solid #e0e0e0;
  }
  .copyright div {
    display: flex;
    flex-direction: column;
  }

  .copyright-font {
    font-size: 0.875rem;
    color: #717171;
    margin-bottom: 0;
    text-decoration: none;
    margin-top: 14px;
  }

  @media (min-width: 530px) {
    .link-container-first {
      width: 365px;
    }
  }

  @media (min-width: 1024px) {
    .link-container {
      flex-direction: row;
      justify-content: space-between;
    }

    .link-options-internal {
      margin-top: 32px;
      width: 154px;
    }

    .copyright div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>
