---

---
<nav class="navbar-container">
  <div class="navbar-container-elem">
    <div class="navbar-container-elem__logo">
     <div>
        <svg width="83" height="42" viewBox="0 0 83 42" fill="none" xmlns="http://www.w3.org/2000/svg">
           <path d="M66.4742 27.415L58.6327 41.5942H1L3.14142 37.5837H22.6432L28.2629 27.415H66.4742Z" fill="#231F20" stroke="#231F20" stroke-width="0.5" stroke-miterlimit="10"/>
           <path d="M80.9815 1C79.0566 4.49064 75.0833 11.6638 73.1461 15.1792C70.6457 15.1668 54.8326 15.1916 52.7902 15.2225L51.2244 18.1623H54.5665C53.5453 19.9757 51.3234 24.0419 50.3331 25.8182H14.9254L16.4913 22.8784H30.5776L34.8357 15.1792H15.5258L17.6672 11.1687H37.169L42.7887 1.00619H81L80.9815 1Z" fill="#231F20" stroke="#231F20" stroke-width="0.5" stroke-miterlimit="10"/>
        </svg>
      </div>
      <p class="paragraph-desk">SEEKING PROGRESS, DELIVERING IMPACT</p>
      <p class="paragraph-mobile">EVERFAZ</p>
     </div>
       <ul class="options">
         <li> 
            <a class="option" href="#our-services">FOR COMPANIES</a>
         </li>
          <li>
            <a class="btn btn-primary" href="/contact"> 

            <svg xmlns="http://www.w3.org/2000/svg" class="arrow" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z"/></svg>
              HIRE EVERFAZ
            </a>  
          </li>
        </ul>
  </div>
</nav>

<style>

  .navbar-container {
    width: 100%;
    background-color: white;
  }

  .navbar-container-elem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  .navbar-container-elem__logo {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .paragraph-mobile {
    font-size: 0.875rem;
    font-weight: 400;
  } 

  .paragraph-desk {
    display: none;
    font-weight: 400;
  }


  .options {
    display: none;
  }

  .option {
    font-size: 0.875rem;
    font-weight: 400;
    color: #717171;
    text-decoration: none;
  }

  .options li  {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;  
  }


  @media (min-width: 1024px) { 
    .navbar-container {
      position: fixed;
    }

    .paragraph-desk {
      display: block;
    }

    .paragraph-mobile {
      display: none;
      font-weight: 400;
    }

    .options {
      display: flex;
      gap: 26px;
    }

  }


  ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }


 .btn {
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 4px 4px -4px #00000029;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
    line-height: 1.5;
    padding: 10px 16px;
    transition: .25s ease;
    white-space: nowrap;
    width: max-content;
    width: fit-content;
    border-width:  0px;
    cursor: pointer;
  }

  .btn-primary {
    background-color: black;
    color: white ;
    text-decoration: none;
  }

 .btn-primary:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

.btn-primary:hover .arrow {
  fill: black;
}




</style>
